{% extends "layout/base.html" %}
{% load static i18n %}

{% block seo %}

<title>Brilliant.uz {% trans 'Связаться с нами' %}</title>
<meta name="keywords" content="жалюзи контакты, установка, ремонт" />
<meta name="description" content="Свяжитесь с нами для заказа жалюзи для окон. Наши менеджеры готовы помочь вам с выбором продукции, рассчитать стоимость и организовать доставку. Мы гарантируем быстрый и качественный сервис. Наши контактные данные на странице «Контакты»">
<link rel="canonical" href="https://brilliant.uz/contact/" />
<meta name="robots" content="index, follow" />
<meta property="og:title" content="Brilliant - Связаться с нами" />
<meta property="og:description" content="Brilliant - ваш надежный партнер в области жалюзи Мы предлагаем широкий ассортимент штор, жалюзи, ролетов и других изделий, а также услуги по установке." />
<meta property="og:image" content="https://brilliant.uz/static/images/logo.png" />
<meta property="og:url" content="https://brilliant.uz/contact/" />

  
{% endblock seo %}

{% block content %}
    <div class="container-fluid">
        <section class="intro-section">
            <div class="contact-bg" style="background-image: url('/static/images/contactbg.jpg');"></div>
            <div class="intro-content">
                <h1 class="intro-title">{% trans 'Контакт' %}</h1>
                <div class="intro-breadcrumb">{% trans 'Главная / Контакт' %}</div>
            </div>
        </section>

        <section class="section container contact-info">
            <div class="row gx-5">
                <div class="col-md-6">
                  <!-- Contact Form -->
                  <h2 class="contact-title">{% trans 'Связаться с нами' %}</h2>

                <form method="post" class="form-contact">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                                    <!-- Render messages with Bootstrap classes -->
                    {% for message in messages %}
                        <div class="alert-{{ message.tags }} alert d-flex justify-content-between" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <span class="error"> 
                        {% if form.phone_number.errors %}
                        {% trans 'Тел Номер' %} 
                        {% endif %}
                             {{ form.phone_number.errors }}</span>
                        <span class="error">{{ form.first_name.errors }}</span>
                        <div class="col-sm-6">
                            {{ form.first_name.label_tag }} 
                            {{ form.first_name }}
                            
                    
                        </div>
                        <div class="col-sm-6">
                           

                            {{ form.phone_number.label_tag }} 
                            {{ form.phone_number }}
                        </div>
                    </div>
                    {{ form.message.label_tag }} {{ form.message }}
                    <span class="error">{{ form.message.errors }}</span>

                    <button type="submit" class="btn btn-primary mt-3 mb-4">Submit</button>
                </form>

                
                </div>
                <div class="col-md-6">
                  <!-- Contact Info -->
                    <div class="contact-text">
                        <h2>{% trans 'Контактная информация' %}</h2>
                        <p><i class="material-icons">phone</i>  +998 97-722-11-11 </p>
                        <p><i class="material-icons">email</i> BrilliantUzbekistan@gmail.com </p>
                        <p><i class="material-icons">home</i> Beruniy, Huvaydo m. 100169 Tashkent, Uzbekistan </p>
                    </div>
                </div>
              </div>
        </section>
    </div>

    <div style="position:relative;overflow:hidden" class="mt-4"><a href="https://yandex.com/maps/10335/tashkent/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Ташкент</a><a href="https://yandex.com/maps/10335/tashkent/?from=mapframe&ll=69.192872%2C41.342605&pt=69.192636%2C41.341975&source=mapframe&utm_medium=mapframe&utm_source=maps&z=18" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.com/map-widget/v1/?from=mapframe&ll=69.192872%2C41.342605&pt=69.192636%2C41.341975&source=mapframe&utm_source=mapframe&z=18"  style="width: 100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>


{% endblock content %}