
{% extends "layout/base.html" %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="circle_phone">
                <a href="tel:998977221111" class="pt-1"><i class="material-icons material-icon">call</i></a>
            </div>

            {% include "components/slide.html" %}
            {% include "components/card.html" %}
            {% include "components/idea.html" %}
            {% include "components/comp_slide.html" %}
            {% include "components/catalog.html" %}
            {% include "components/trend.html" %}
            
        </div>
    </main>

{% endblock content %}