
{% extends "layout/base.html" %}


{% load static  i18n %}


{% block seo %}

<title>Brilliant.uz Купить жалюзи | Высокое качество и доступные цены</title>
<meta name="keywords" content="Jalyuzi narxlari, pardalar, жалюзи, Brilliant jalyuzi, жалюзи для окон, жалюзи для офиса" />
<meta name="description" content="Купить жалюзи для окон по выгодной цене Широкий выбор роллетных, горизонтальных, вертикальных жалюзи от лучших производителей. Быстрая доставка и установка. ">
<link rel="canonical" href="https://brilliant.uz/" />
<meta name="robots" content="index, follow" />


<meta property="og:title" content="Brilliant - жалюзи и шторы в Ташкенте" />
<meta property="og:description" content="Brilliant - ваш надежный партнер в области жалюзи Мы предлагаем широкий ассортимент штор, жалюзи, ролетов и других изделий, а также услуги по установке." />
<meta property="og:image" content="https://brilliant.uz/static/images/logo.png" />
<meta property="og:url" content="https://brilliant.uz/" />


{% endblock seo %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="circle_phone">
                <a href="tel:998977221111" class="pt-1"><i class="material-icons material-icon">call</i></a>
            </div>

            {% include "components/slide.html" %}
            {% include "components/card.html" %}
            {% include "components/idea.html" %}
            {% include "components/comp_slide.html" %}
            {% include "components/catalog.html" %}
            {% include "components/trend.html" %}
            
        </div>
    </main>

{% endblock content %}