.intro-section {
    height: 240px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 30px;
}
  
.intro-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode: multiply;
    background-color: rgba(51, 51, 51, 0.674);
}

.contact-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: rgba(51, 51, 51, 0.834);
}
  
.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    font-family: 'Open Sans';
}
  
  .intro-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .intro-breadcrumb {
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
  }

.about-text-image {
    border-radius: 8px;
    width: 100%;
    max-height: 420px;
    margin-bottom: 25px;
}

.content-about {
    margin-bottom: 30px;
}

.content-text-about {
    font-family: 'Open Sans';
}
.content-text-about h2 {
    padding-bottom: 5px;
    padding-top: 2px;
}


.fact {
    margin-top: 40px;
    margin-bottom: 40px;
}

.fact-card {
    padding: 10px;
    text-align: center;
    display: flex;
    padding-top: 25px;
    justify-content: center;
    height: 170px;
    width: 100%;
    border: 1px dashed rgb(150, 74, 74);

    border-radius: 5px;
    
}

.fact-icon {
    font-size: 38px;
    margin-bottom: 0;
}
.fact-card .fact-title {
    font-size: 18px;
    font-weight: medium;
    color: rgb(110, 110, 110);
}
.fact-card .fact-numbers {
    font-size: 26px;
    margin-top: 0;

    padding-top: 10px;
}

.contact-title {
    font-family: 'Open Sans';
    padding-bottom: 10px;
}

.contact-text {
    font-family: 'Open Sans';
}

.contact-text h2 {
    padding-bottom: 20px;
}

.form-contact  input {
    margin-bottom: 10px;
}

.form-contact label {
    padding-bottom: 5px;
}

.form-contact textarea {
    resize: none;
}

.form-contact .btn {
    padding: 7px 24px;
    background-color: #32CFB0;
    border: none;
}

.contact-text p {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.contact-text i {
    padding-right: 15px;
}

.portfolio-title {
    font-family: 'Open Sans';
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.grid-item {
    position: relative;
    overflow: hidden;
}
.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    height: 400px;
}
.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item:hover .overlay {
    opacity: 1;
}
.grid-item .overlay span {
    color: #fff;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item .overlay span {
        width: 80%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
}