{% load static %}
<div class="container-fluid">
   
   <div class="card-uni-container">
    <div class="card card-uni">
        <div class="row">
            <div class="col-md-7">
                <div class="card-body card-left">
                  <h5 class="card-title">{{ benefit_card.first.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ benefit_card.first.text }}
                    </h6>
                </div>
              </div>
              
          <div class="col-md-5">
            <img src="{{ benefit_card.first.image.url }}" alt="{{ benefit_card.first.title }}" class="custom-img img-fluid">
          </div>
         
        </div>
      </div>

      <div class="card card-uni">
        <div class="row">
          {% with second_object=benefit_card.1 %}

            <div class="col-md-5">
              <img src="{{ second_object.image.url }}" alt="{{second_object.title}}" class="custom-img img-left  img-fluid">
            </div>

            <div class="col-md-7">
              <div class="card-body card-right">
                <h5 class="card-title">{{ second_object.title }}   </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ second_object.text }}
                  </h6>
              </div>
            </div>
          {% endwith %}
        </div>
      </div>
   </div>
      
      
</div>