{% load static %}
<div class="container-fluid">
   
   <div class="card-uni-container">
    <div class="card card-uni">
        <div class="row">
            <div class="col-md-7">
                <div class="card-body card-left">
                  <h5 class="card-title">Корпоративный институт</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Вебинары, экспресс-курсы в офисе, семинары и специальные конференции 
                    для профессионалов в области солнцезащитных систем
                    от экспертов компании AMIGO
                    </h6>
                </div>
              </div>
              
          <div class="col-md-5">
            <img src="{% static 'images/uni-1.png' %}" alt="Card Image" class="custom-img img-fluid">
          </div>
         
        </div>
      </div>

      <div class="card card-uni">
        <div class="row">
          <div class="col-md-5">
            <img src="{% static 'images/uni-2.jpg' %}" alt="Card Image" class="custom-img img-left  img-fluid">
          </div>

          <div class="col-md-7">
            <div class="card-body card-right">
              <h5 class="card-title">Customizer Brilliant   </h5>
              <h6 class="card-subtitle mb-2 text-muted">Удобный онлайн-инструмент для подбора, визуализации и расчета стоимости солнцезащитных систем AMIGO. Полный каталог материалов и систем с характеристиками.
                </h6>
            </div>
          </div>
         
        </div>
      </div>
   </div>
      
      
</div>