{% load static %}
<div class="container-fluid" id="catalogs">
    <h3 class="product-card-title">
      Каталогы
    </h3>
    <div class="circle-cursor">
      <i class="material-icons">arrow_left</i>
      <i class="material-icons">arrow_right</i>
    </div>

    
    <div class="swiper3 swiper">
        <div class="swiper-wrapper">

          {% for catalog in catalogs  %}
          <div class="swiper-slide">
                <div class="card product-card">
                  <div class="product-card-img">
                    <img src="{{ catalog.image.url }}" class="img-fluid" alt="Product 1">
                  </div>
                  
                  <div class="card-body">
                    <h5>{{ catalog.title }}</h5>
                  </div>
                </div>
          </div>
          
          {% endfor %}

</div>
            
              
        </div>
    </div>
</div>
