{% load static %}
<div class="container-fluid">
    <h3 class="product-card-title">
      Каталогы
    </h3>
    <div class="circle-cursor">
      <i class="material-icons">arrow_left</i>
      <i class="material-icons">arrow_right</i>
    </div>

    
    <div class="swiper3 swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
                <div class="card product-card">
                  <div class="product-card-img">
                    <img src="https://picsum.photos/id/1015/300/200" class="img-fluid" alt="Product 1">
                  </div>
                  
                  <div class="card-body">
                    <h5>Уровень шума</h5>
                  </div>
                </div>
            </div>

            <div class="swiper-slide">
              <div class="card product-card">
                <div class="product-card-img">
                  <img src="https://picsum.photos/id/1015/300/200" class="img-fluid" alt="Product 1">
                </div>
                
                <div class="card-body">
                  <h5>Уровень шума</h5>
                </div>
              </div>
          </div>


          <div class="swiper-slide">
            <div class="card product-card">
              <div class="product-card-img">
                <img src="https://picsum.photos/id/1015/300/200" class="img-fluid" alt="Product 1">
              </div>
              <div class="card-body">
                <h5>Уровень шума</h5>
              </div>
            </div>
        </div>


        <div class="swiper-slide">
          <div class="card product-card">
            <div class="product-card-img">
              <img src="https://picsum.photos/id/1015/300/200" class="img-fluid" alt="Product 1">
            </div>
            <div class="card-body">
              <h5>Уровень шума</h5>
            </div>
          </div>
      </div>



      <div class="swiper-slide">
        <div class="card product-card">
          <div class="product-card-img">
            <img src="https://picsum.photos/id/1015/300/200" class="img-fluid" alt="Product 1">
          </div>
          <div class="card-body">
            <h5>Уровень шума</h5>
          </div>
        </div>
    </div>


    <div class="swiper-slide">
      <div class="card product-card">
        <div class="product-card-img">
          <img src="https://picsum.photos/id/1015/300/200" class="img-fluid" alt="Product 1">
        </div>
        <div class="card-body">
          <h5>Уровень шума</h5>
        </div>
      </div>
  </div>


  <div class="swiper-slide">
    <div class="card product-card">
      <div class="product-card-img">
        <img src="https://picsum.photos/id/1015/300/200" class="img-fluid" alt="Product 1">
      </div>
      <div class="card-body">
        <h5>Уровень шума</h5>
      </div>
    </div>
</div>
            
              
        </div>
    </div>
</div>
