{% load static %}
<div class="container-fluid">
    <div class="swiper swiper2  mt-5">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="row">
              <!-- Left Column with Card -->
              <div class="col-md-7">
                <div class="card card-left">
                  
                  <div class="card-body">
                      <h5 class="card-title">Комплектация для рулонных штор</h5>
                      <h6 class="card-subtitle mb-2">Новинки российской комплектации</h6>
                      <p class="card-text">Компания AMIGO представляет новинки в ассортименте компонентов российского производства</p>
                      <a href="#" class="btn btn-success">More</a>
                  </div>

                  <div class=" swiper-button-prev swiper-button-prev2" id="swiper-prev-2"></div>
                  <div class=" swiper-button-next swiper-button-next2"></div>
          
                </div>
              </div>
              <!-- Right Column with Image Card -->
              <div class="col-md-5">
                <div class="card ccard-right">
                  <div class="card-img">
                      <img class="img-fluid" src="{% static 'images/complect1.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="row">
              <!-- Left Column with Card -->
              <div class="col-md-7">
                <div class="card card-left">
                  <div class="card-body">
                      <h5 class="card-title">Комплектация для рулонных штор</h5>
                      <h6 class="card-subtitle mb-2">Новинки российской комплектации</h6>
                      <p class="card-text">Компания AMIGO представляет новинки в ассортименте компонентов российского производства</p>
                      <a href="#" class="btn btn-success">More</a>
                  </div>
                  <div class="swiper-button-prev swiper-button-prev2" id="swiper-prev-2"></div>
                  <div class="swiper-button-next swiper-button-next2"></div>
          
                </div>
              </div>
              <!-- Right Column with Image Card -->
              <div class="col-md-5">
                <div class="card ccard-right">
                  <div class="card-img">
                      <img class="img-fluid" src="{% static 'images/complect1.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        
      
    </div>
</div>
