{% load static %}
<div class="footer ">
   <div class="container-fluid">
    <div class="row gx-4">
        <!-- Footer logo column -->
        <div class="col-md-4">
            <img src="{% static 'images/logo.png' %}" class="footer-logo logo" alt="">
        </div>
        <!-- Footer title column -->
        <div class="col-md-1 me-5">
          <div class="footer-title">
            Информация
          </div>
          <div class="footer-links">
            <a href="#" class="footer-link">Главная</a>
            <a href="#" class="footer-link">Сервисы</a>
            <a href="#" class="footer-link">О нас</a>
            <a href="#" class="footer-link">Контакт</a>
          </div>
        </div>

        <div class="col-md-2">
            <div class="footer-title">
                Аддресс
            </div>
            <div class="footer-desc">
                Beruniy, Huvaydo m. 100169 Tashkent, Uzbekistan
            </div>
        </div>

        <div class="col-md-2">
            <div class="footer-title">
                Контакты
            </div>
            <div class="footer-links">
              <a href="#" class="footer-link">+998 97-722-11-11</a>
            </div>
        </div>

        <div class="col-md-2">
            <div class="footer-title">
                <a href="#" class="social-media-icon">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <!-- Twitter icon -->
                  <a href="#" class="social-media-icon">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <!-- Telegram icon -->
                  <a href="#" class="social-media-icon">
                    <i class="fab fa-telegram"></i>
                  </a>
            </div>
        </div>

      </div>

   </div>
</div>