{% load static %} 
<div class="swiper swiper1">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for slide in intro_slide  %}
        <div class="swiper-slide">
            <img src="{{ slide.image.url }}" alt="Slide 1">
            <div class="slide-overlay"></div>
            <div class="slide-text">
                <!-- Text content goes here -->
                <h3>{{ slide.title }} </h3>
            </div>
        </div>

      {% endfor %}
      
      
    </div>
</div>

<div class="swiper-button-prev" id="swiper1-button-prev"></div>
<div class="swiper-button-next" id="swiper1-button-next"></div>
  
<div class="swiper-scrollbar"></div>
</div>
<div class="card-container">
    <div class="cards">
        <div class="card intro-card">
            <img src="{% static 'images/card1.png' %}" alt="">
            <div class="card-text">
                <h4 class="card-title">
                    Конфиденциальность
                </h4>
                <p class="card-subtitle">
                    добейтесь частной жизни и спокойствия с помощью жалюзи для окон
                </p>
            </div>
        </div>
        <div class="card intro-card">
            <img src="{% static 'images/card2.png' %}" alt="">
            <div class="card-text">
                <h4 class="card-title">
                    Вечная привлекательность
                </h4>
                <p class="card-subtitle">
                    Добавьте классический шарм в ваш дом с помощью жалюзи для окон
                </p>
            </div>
        </div>
        <div class="card intro-card">
            <img src="{% static 'images/card3.png' %}" alt="">
            <div class="card-text">
                <h4 class="card-title">
                    Элегантность
                </h4>
                <p class="card-subtitle">
                    Повысьте стиль и функциональность вашего дома
                </p>
            </div>
        </div>
    </div>
</div>