{% load static %}  
<div class="container-fluid" data-section="#section1">
    <h3 class="product-card-title">
        Топ Жалюзи
    </h3>
    <div class="swiper swiper4">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="{% static 'images/slide1.png' %}" alt="Slide 1">
          </div>
          <div class="swiper-slide">
            <img src="{% static 'images/slide2.png' %}" alt="Slide 1">
          </div>
        </div>

        <div class="swiper-button-prev swiper-button-prev4" >
        </div>
        <div class="swiper-button-next swiper-button-next4" >
        </div>
    </div>
</div>